*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

.hero__section{
    background: url("./10123-J-20123-Zomato-Landing-Page/images/heroSectionBackground.png");
    background-size:cover;
    background-position: center;
    color: white;
    height: 60vh;
    position:static;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 15px 45px;
}

.navbar a{
    color:rgba(248, 245, 245, 0.768);
    text-decoration: none;
}

.navbar__menu_container{
    display: flex;
    gap:18px;
}

.user{
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5%;
    height: calc(60vh - 65px);
}

.hero__section_logo{
    width:15%;
    height: auto;
}   

.hero__section_title{
    font-size: 2.4rem;
    text-align: center;
    font-weight: 250;
}

.hero__section_container_input{
    background-color: rgba(255, 255, 255, 0.949);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 600px;
    border-radius: 20px;
    gap:10px;
}

.hero__section_input_container_location{
    height: 70%;
    border: 1px solid rgba(0, 0, 0, 0.241);
    width:200px;
    border: none;
    border-right: 2px solid rgba(128, 128, 128, 0.311);
}

.hero__section_input_container_search{
    height: 70%;
    border: 1px solid rgba(0, 0, 0, 0.168);
    width:300px;
    border: none;
}

input{
    padding: 10px;
    justify-content: center;
}







@media screen and ( max-width:600px){
    .user{
        display:flex;
    }

    .link{
        display: none;
    }

    .hero__section_logo{
        height: auto;
        width: 20%;
    }

    .hero__section_title{
        font-size: 150%;
    }

    .hero__section_container_input{
        width: 80%;
    }
    
    .hero__section_input_container_location
    {
        width: 20%;
    }

    .hero__section_input_container_search{
        width: 50%;
    }
}

/*out of media queries*/

.container{
    margin:3rem auto;
    width:90%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items:center;
    justify-content: center;
}
    

.we__offer_card {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    height: 150px;
    width: 100%;
    object-fit:cover;
    object-position:center;
}

.we__offer_content{
    padding: 10px;
}

.we__offer_content h2{
    font-weight: 500;
    font-size: 20px;
}

.we__offer_content p{
    font-size: 14px;
}

.collection h1{
    font-weight: 700;
    display: flex
}

.collection .sub_heading_container{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}


.sub_heading_container span:nth-child(2){
    color: #f82a3f;
    font-size:20px;
    cursor: pointer;

}

.collection_cards_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 30px;
}

.collection_cards_container .card{
    height: 300px;
    min-width: 240px;
    background-size: cover;
    border: 1px solid grey;
    border-radius: 25px;
    position: relative;
    padding: 10px;
    transition: all 0.5s ease;
}

.card1{
    background-image: url(./10123-J-20123-Zomato-Landing-Page/images/collection1.jpg)
}

.card2{
    background-image: url(./10123-J-20123-Zomato-Landing-Page/images/collection2.jpg)
}

.card3{
    background-image: url(./10123-J-20123-Zomato-Landing-Page/images/collection3.jpg)
}

.card4{
    background-image: url(./10123-J-20123-Zomato-Landing-Page/images/collection4.jpg)
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg ,
         rgba(0,0,0,0.9) 0%,
         rgba(0,0,0,0.05 )70%,
         rgba(0,0,0,0.005) 85%
        );
}

.collection_cards_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 10px;
}

.collection_cards_container .card .content h2{
    font-weight: 450;
    font-size: 20px;
}

.collection_cards_container .card .content span{
    font-size: 15px;
}

.collection_cards_container .card:hover{
    transform: scale(1.05);
}

.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5efbd3d;
    width: 100%;
    padding: 3rem 6rem;
}

.get__the_app .semi_container{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 1.5rem;
}
.get__the_app .semi_container .left{
    flex:2;
}

.get__the_app .semi_container .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 45%;
}

.get__the_app .semi_container .right{
    flex: 3;
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.right{
    color:grey;
}

.right h2{
    font-weight: 600;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.607);
}

.right p{
    font-size: 0.8rem;
}

.right .radio__button_container{
    display: flex;
    align-items: center;
    gap:1.3rem;
}

.right .radio__button_container div{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
}

.right .radio__button_container .input_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgba(251, 102, 102, 0.408);
}

.right .input_container{
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
}

.input_container button ,
.input_container input{
    padding: 10px 12px;
}

.input_container input{
    flex: auto;
    border: 1px solid gray;
    outline: none;
    border-radius: 17px;
}

.input_container button{
    background-color: #f51d1df1;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.right .download__app_container {
    display: flex;
    gap: 0.9rem;
    flex-direction: column;
}

.download__app_container h4{
    font-weight: 450;
    color: gray;
}

.right .download__app_container div{
    display: flex;
    gap: 1rem;
}

.right .download__app_container div img{
    min-width: 35%;
}

.right .download__app_container img{
    max-width: 35%;
}

/*Media Queries for download container*/

@media only screen and (max-width:1200px){
    .right h2{
        font-size: 2rem;
    }
    .right p{
        font-size:0.7rem ;
    }
    .right div img{
        padding: 0;
        flex-direction: row;
        align-items: center;
    }
}

@media only screen and (max-width:1200px ){

    .get__the_app .semi_container .left,
    .get__the_app .semi_container .right{
        flex: 1;
    }
    .get__the_app .semi_container{
        width: 80%;
    }
}

@media only screen and (max-width:800px ){

    .get__the_app {
        padding: 2rem;
    }
    .get__the_app .semi_container{
        width: 100%;
    }
}

.section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 0;
}

.explore__container{
    gap: 0.5rem;
}

.explore__container .heading h2{
    font-weight: 550;
    font-size: 2rem;
    padding: 1rem;
}

.explore__container div{
    gap: 0.5rem;
}

.explore__container select{
    padding: 0.5rem;
    margin: 0.3rem 0;
    height: auto;
    width: 800px;
    border: 1px solid grey;
    outline: none;
    border-radius: 4px;
    color: rgba(128, 128, 128, 0.8);
    font-size: 15px;
}

.footer{
    width: 100%;
    background-color: #d4d4d45c;
    padding: 2rem;
    margin-bottom: 0
}

.footer__section1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

.footer__section1_img{
    width: 150px;

}

.section1__button {
    display: flex;
    gap:1.3rem;
}

.section1__button button{
    padding: 3.5px;
    width: 90px;
    border: 1px solid rgba(128, 128, 128, 0.399);
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

.section1__button img{
    width: 15px;
}

.navigation_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 75%;
    padding: 2rem 0;
    margin: auto;
    gap:1rem;
}

.footer_link{
    text-decoration: none;
    color: rgba(79, 79, 79, 0.756);
    font-size: 17px;
    font-weight: 400;
    gap: 0.3rem;
}

.section__link_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navigation_container h3{
    font-weight: 450;
}

.footer_link:hover{
    color: rgba(0, 0, 0, 0.63);
}

.section__link_container_socialmedia{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.section__link_container_socialmedia button{
    height: 40px;
    width: 40px;
    padding: 2px;
    border-radius: 30px;
    border: 1px solid grey;
    background-color: black;
    cursor: pointer;
}

.section__link_container_socialmedia button i{
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__container5 img{
    display: flex;
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
}

.link__container3_h3_2{
    margin-top: 40px;
}

.navigation_container h3{
    margin-bottom: 10px;
    letter-spacing: 0.15rem;
}

.line{
    height: 1px;
    width: 75%;
    border: 0.5px solid rgba(0, 0, 0, 0.196);
    margin: 20px;
}

.disclaimer {
    display: flex;
    width: 75%;
    color: #494949a1;
    font-size: 15px;
}

@media screen and (max-width:1000px){
    .footer{
        width: 100%;
    }
    .navigation_container{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
    .footer__section1_img {
        margin: 20px;
    }
    .navigation_container h3{
        letter-spacing: 0;
    }
}


@media screen and (max-width:650px){
    .navigation_container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media screen and (max-width:400px) {
    .footer{
        display: flex;
        margin: 0.2rem;
        align-items: center;
        justify-content: center;
    }
}